
/*template*/

.template-index{
  grid-template-areas:
  "header       header       header       header"
  "hero         hero         hero         hero"
  "feature      feature      feature      feature"
  "illustration illustration illustration illustration"
  "reservation  reservation  reservation  reservation"
  "footer       footer       footer       footer";
}

.template-where{
  grid-template-areas: 
  "header header header header"
  "where  where  where  where"
  "footer footer footer footer";
}

.template-contact{
  grid-template-areas:
  "header header header header"
  "form   form   form   form"
  "footer footer footer footer";
}

/*template - end*/

/*container*/

.grid-container{
  display:grid;
}

.flex-container{
  display:flex;
}

/*end-container*/

/*margin-left*/

.ml1{
  margin: 0 0 0 1rem;
}

.ml2{
  margin: 0 0 0 2rem;
}

.ml3{
  margin: 0 0 0 3rem;
}

.ml4{
  margin: 0 0 0 4rem;
}

.ml5{
  margin: 0 0 0 5rem;
}

.ml6{
  margin: 0 0 0 6rem;
}

.ml7{
  margin: 0 0 0 7rem;
}

.ml8{
  margin: 0 0 0 8rem;
}

.ml9{
  margin: 0 0 0 9rem;
}

.ml10{
  margin: 0 0 0 10rem;
}
.ml11{
  margin: 0 0 0 11rem;
}
.ml12{
  margin: 0 0 0 12rem;
}

.ml13{
  margin: 0 0 0 13rem;
}

.ml14{
  margin: 0 0 0 14rem;
}

.ml15{
  margin: 0 0 0 15rem;
}

.ml16{
  margin: 0 0 0 16rem;
}

.ml17{
  margin: 0 0 0 17rem;
}

.ml18{
  margin: 0 0 0 18rem;
}

.ml19{
  margin:0 0 0 19rem;
}

.ml20{
  margin: 0 0 0 20rem;
}

/*end-margin left*/

/*margin left right*/
.mlr1{
  margin: 0 1rem 0 1rem;
}

.mlr2{
  margin: 0 2rem 0 2rem;
}

.mlr3{
  margin: 0 3rem 0 3rem;
}

.mlr4{
  margin: 0  4rem 0 4rem;
}

.mlr5{
  margin: 0 5rem 0 5rem;
}

.mlr6{
  margin: 0 6rem 0 6rem;
}

.mlr7{
  margin: 0 7rem 0 7rem;
}

.mlr8{
  margin: 0 8rem 0 8rem;
}

.mlr9{
  margin: 0 9rem 0 9rem;
}

.mlr10{
  margin: 0 10rem 0 10rem;
}
.mlr11{
  margin: 0 11rem 0 11rem;
}
.mlr12{
  margin: 0 12rem 0 12rem;
}

.mlr13{
  margin: 0 13rem 0 13rem;
}

.mlr14{
  margin: 0 14rem 0 14rem;
}

.mlr15{
  margin: 0 15rem 0 15rem;
}

.mlr16{
  margin: 0 16rem 0 16rem;
}

.mlr17{
  margin: 0 17rem 0 17rem;
}

.mlr18{
  margin: 0 18rem 0 18rem;
}

.mlr19{
  margin:0 19rem 0 19rem;
}

.mlr20{
  margin: 0 20rem 0 20rem;
}
/*end-margin left right*/

/*margin-lr*/
.mlr1{
  margin: 0 20rem 0 20rem;
}
/*end-margin-lr*/

/*margin top*/
.mt1{
  margin: 1rem 0 0 0
}

.mt2{
  margin: 2rem 0 0 0
}

.mt3{
  margin: 3rem 0 0 0
}
/*end-margin top*/

.mt2-mlr20{
  margin:2rem 20rem 0 20rem
}



.column-center{
  flex-direction: column;
}


.border-box{
  box-sizing:border-box;
}



.text-center{
  text-align: center;
}

.title{
  font-size:4rem;
}
.font{
 font-family: 'Overpass', sans-serif; ;
}

.text-background{
  background-color: rgba(0,0,0,0.2);
}

.separator{
  height:8px;
  width:6%;
  background-color:#303030;
}

.fs-1{
  font-size: 1rem;
}

.fs-1_5{
  
  font-size: 1.5rem;
}

.fs-2{
  font-size: 2rem;
}

.white{
  color:#fff;
}




.container {
  grid-template-columns: repeat(4, 1fr);
}

header {
  grid-area: header;
  background-color: #303030;
}

h1 > a {
  color:#fff;
  text-decoration: none;
  font-family: 'Overpass', sans-serif;
  font-size: 1.5rem;
  margin: 1rem;
}
nav {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
  flex-direction: row;
  list-style: none; 
  margin: 2rem;
}

nav ul li a{
  color:#fff;
  text-decoration: none;
  display:inline-block;
  margin: 0 0.5rem;
  font-family: 'Overpass', sans-serif;
  font-size: 1.2rem;
}

footer {
  grid-area: footer;
  background-color: #1c1c1c;
}

.reservation {
  grid-area: reservation;
  background-color:#fff;
}
.hero{
  grid-area: hero;
  color:#fff;
  background-image: url(../images/cafe1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.hero-content{
  display:flex;
  flex-direction: column;
  align-items:center;
}

.features{
  grid-area: feature;
  display:grid;
  grid-template-areas: "feature-1 feature-1 feature-2 feature-2";
}

.feature-1 {
  grid-area: feature-1;
  background-color:#fff;
}

.feature-2{
  grid-area: feature-2;
  background-color: #fff;
}
.m1{
  margin:1rem;
}
.m4-2{
  margin:10rem 4rem 2rem 4rem;
}
.m4{
  margin:4rem;
}
.m8{
  margin:8rem;
}

.m10{
  margin:10rem;
}
.p1{
  padding:1rem;
}

.p1-5_1{
  padding: 1.5rem 1.5rem 1rem 1.5rem;
}

.p2{
  padding:2rem;
}

.p_inf{
  padding:0 0 1rem 0;
}
  
.radius{
  border-radius: 2rem;
}
.bold{
  font-weight: 700;
}
.button{
  background-color:ghostwhite;
  text-decoration: none;
  color:black;
  border-radius: 20px;
}

.button-black{
  background-color: #303030;
  text-decoration: none;
  color:#fff;
  border-radius: 20px;
}

.illustration{
  background-image: url(../images/cafe3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  grid-area: illustration;
  min-height: 60vh;
}

.where{
  grid-area: where;
  display: grid;
  grid-template-areas: "map map adress adress";

}

.map{
  grid-area:map;
}

.adress{
  grid-area:adress;
}

.form{
  grid-area:form;
}