
.border-box{
  box-sizing:border-box;
}

.grid-container{
  display:grid;
}

.flex-container{
  display:flex;
}

.text-center{
  text-align: center;
}

.title{
  font-size:4rem;
}
.font{
 font-family: 'Overpass', sans-serif; ;
}

.text-background{
  background-color: rgba(0,0,0,0.2);
}

.separator{
  height:8px;
  width:6%;
  background-color:#303030;
}

.fs-1{
  font-size: 1rem;
}

.fs-1_5{
  
  font-size: 1.5rem;
}

.fs-2{
  font-size: 2rem;
}

.white{
  color:#fff;
}
.container {
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
  "header header header header"
  "hero hero hero hero"
  "feature feature feature feature"
  "illustration illustration illustration illustration"
  "reservation reservation reservation reservation"
  "footer footer footer footer";
}

header {
  grid-area: header;
  background-color: #303030;
}

h1 > a {
  color:#fff;
  text-decoration: none;
  font-family: 'Overpass', sans-serif;
  font-size: 1.5rem;
  margin: 1rem;
}
nav {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
  flex-direction: row;
  list-style: none; 
  margin: 2rem;
}

nav ul li a{
  color:#fff;
  text-decoration: none;
  display:inline-block;
  margin: 0 0.5rem;
  font-family: 'Overpass', sans-serif;
  font-size: 1.2rem;
}

footer {
  grid-area: footer;
  background-color: #1c1c1c;
}

.reservation {
  grid-area: reservation;
  background-color:#fff;
}
.hero{
  grid-area: hero;
  color:#fff;
  background-image: url(../images/cafe1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.hero-content{
  display:flex;
  flex-direction: column;
  align-items:center;
}

.features{
  grid-area: feature;
  background-color: rosybrown;
  display:grid;
  grid-template-areas: "feature-1 feature-1 feature-2 feature-2";
}

.feature-1 {
  grid-area: feature-1;
  background-color:#fff;
}

.feature-2{
  grid-area: feature-2;
  background-color: #fff;
}
.m1{
  margin:1rem;
}
.m4-2{
  margin:10rem 4rem 2rem 4rem;
}
.m4{
  margin:4rem;
}
.m8{
  margin:8rem;
}

.m10{
  margin:10rem;
}
.p1{
  padding:1rem;
}

.p1-5_1{
  padding: 1.5rem 1.5rem 1rem 1.5rem;
}

.p2{
  padding:2rem;
}

.p_inf{
  padding:0 0 1rem 0;
}
  
.radius{
  border-radius: 2rem;
}
.bold{
  font-weight: 700;
}
.button{
  background-color:ghostwhite;
  text-decoration: none;
  color:black;
  border-radius: 20px;
}

.button-black{
  background-color: #303030;
  text-decoration: none;
  color:#fff;
  border-radius: 20px;
}

.illustration{
  background-image: url(../images/cafe3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  grid-area: illustration;
  min-height: 60vh;
}