body{
  box-sizing: border-box;
}
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
  "header header header header"
  "hero hero hero hero"
  "feature feature feature feature"
  "reservation reservation reservation reservation"
  "footer footer footer footer";
}

header {
  grid-area: header;
  background-color: #303030;
}

h1 > a {
  color:#fff;
  text-decoration: none;
  font-family: 'Overpass', sans-serif;
  font-size: 1.5rem;
  margin: 1rem;
}
nav {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
  flex-direction: row;
  list-style: none; 
  margin: 2rem;
}

nav ul li a{
  color:#fff;
  text-decoration: none;
  display:inline-block;
  margin: 0 0.5rem;
  font-family: 'Overpass', sans-serif;
  font-size: 1.2rem;
}

footer {
  grid-area: footer;
  background-color: #1c1c1c;
}

.reservation {
  grid-area: reservation;
  background-color: palegreen;
}
.hero{
  grid-area: hero;
  color:#fff;
  background-image: url(../images/cafe1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.hero-content{
  display:flex;
  flex-direction: column;
  align-items:center;
}

.features{
  grid-area: feature;
  background-color: rosybrown;
  display:grid;
  grid-template-areas: "feature-1 feature-1 feature-2 feature-2";
}

.feature-1 {
  grid-area: feature-1;
  background-color: salmon;
}

.feature-2{
  grid-area: feature-2;
  background-color: slateblue;
}
